html {
  box-sizing: border-box;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, oxygen, Ubuntu, Cantarell, 'Op'
}
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background: black;
}
#overlay-toggle {
  position:absolute;
  display: none;
}
.overlay {
  z-index: 1;
  background-color: black;
}
.overlay label {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vw;
  color: white;
  font-size: 2rem;
}
.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
}
.bg-video {
  z-index: -1;
}
.text-content {
  background: rgba(0, 0, 0, 0);
  display: grid;
  place-content: center;
  text-align: center;
  color: white;
}
.text-content h1 {
  font-size: 3rem;
  font-weight: 800;
}
.text-content p {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 2.5rem 0 2rem;
}
.text-content a {
  font-size: 1.3rem;
  line-height: 1.7;
  color: #00ff37;
}
#overlay-toggle:checked ~ .overlay {
  animation-fill-mode: forwards;
  animation-name: fade, hide;
  animation-delay: 0s, 600ms;
  animation-duration: 600ms, 1ms;
}
#overlay-toggle:checked ~ .overlay label {
  animation-fill-mode: forwards;
  animation-name: fade;
  animation-delay: 0s;
  animation-duration: 500ms;
}
@keyframes fade{
  tp {
    opacity: 0;
  }
}
@keyframes hide {
  to {
    visibility: hidden;
  }
}